{% extends "layout.html" %}
{% block body %}

<div class="main-wrapper ">
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">{{params['blog_name']}}</span>
					<h1 class="animated fadeInUp mb-5">{{params['blog_name']}} <br>{{params['blog_names']}} <br>{{params['blog_j']}}</h1>
					<a href="#" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro Start -->
<!-- Section Intro END -->
<!-- Section About Start -->

<section class="section about position-relative">
	{% for post in posts %}
	<!-- <li><a href="/post/{{post.slug}}">{{post.title}}</a> -->
	<a href="/post/{{post.slug}}">
		<div class="bg-about"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item ">
					<span class="h6 text-color">{{post.title}}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{post.num}}</h2>
					<h3 class="mb-3 position-relative">
						{{post.tagline}}
					</h3>
					<div class="about-content">
						<h6 class="mb-3 position-relative">{{post.title}}</h6>
						<p class="mb-5">{{post.content[0:100]}}.</p>

						<p class="post-author">posted by
							<a href="">Admin</a>
						on {{post.date}}</p>
						<!-- <a href="/blog-single" class="btn btn-main btn-round-full">submit</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</li></a>
{% endfor %}
<div>
	<a class="btn btn-main btn-round-full" href="{{prev}}">previous</a>
	<a class="btn btn-main btn-round-full" href="{{next}}">next</a>
</div>
</section>

<!-- Section About End -->
<!-- section Counter Start -->

<!-- section Counter End  -->
<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Services</span>
					<h2 class="mt-3 content-title ">We provide a wide range of creative services </h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-desktop"></i>
					<h4 class="mb-3">Web development.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-layers"></i>
					<h4 class="mb-3">Interface Design.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">Business Consulting.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Branding.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-android"></i>
					<h4 class="mb-3">App development.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">Content creation.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
 <!-- Section Cta Start --> 
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">We create for you</span>
					<h2 class="mt-2 mb-4">Entrust Your Project to Our Best Team of Professionals</h2>
					<p class="lead mb-4">Have any project on mind? For immidiate support :</p>
					<h3><i class="ti-mobile mr-3 text-color"></i>+919904396962</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Cta End-->
<!-- Section Testimonial Start -->

<!-- Section Testimonial End -->
<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Latest News</span>
					<h2 class="mt-3 content-title text-white">Latest articles to enrich knowledge</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card bg-transparent border-0">
					<img src="{{ url_for('static', filename=' images/blog/1.jpg')}}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#"  class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div> 

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white ">How to improve design with typography?</a></h3>

						<a href="/blog-single" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{{ url_for('static', filename=' images/blog/2.jpg')}}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#"  class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div>  

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Interactivity design may connect consumer</a></h3>

						<a href="/blog-single" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{{ url_for('static', filename=' images/blog/3.jpg')}}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#"  class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div> 

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Marketing Strategy to bring more affect</a></h3>

						<a href="/blog-single" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt-70 position-relative">
	<div class="container">
	<div class="cta-block-2 bg-gray p-5 rounded border-1">
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-7">
				<span class="text-color">For Every type business</span>
				<h2 class="mt-2 mb-4 mb-lg-0">Entrust Your Project to Our Best Team of Professionals</h2>
			</div>
			<div class="col-lg-4">
				<a href="/service" class="btn btn-main btn-round-full float-lg-right ">service</a>
			</div>
		</div>
	</div>
</div>

</section>



    <!-- 
    Essential Scripts
    =====================================-->

    
    

  </body>
  </html>
  
{% endblock %}
   <!-- Main jQuery -->
   <script src="{{ url_for('static', filename=' plugins/jquery/jquery.js')}}"></script>
   <script src="{{ url_for('static', filename=' js/contact.js')}}"></script>
   <!-- Bootstrap 4.3.1 -->
   <script src="{{ url_for('static', filename=' plugins/bootstrap/js/popper.js')}}"></script>
   <script src="{{ url_for('static', filename=' plugins/bootstrap/js/bootstrap.min.js')}}"></script>
  <!--  Magnific Popup-->
   <script src="{{ url_for('static', filename=' plugins/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
   <!-- Slick Slider -->
   <script src="{{ url_for('static', filename=' plugins/slick-carousel/slick/slick.min.js')}}"></script>
   <!-- Counterup -->
   <script src="{{ url_for('static', filename=' plugins/counterup/jquery.waypoints.min.js')}}"></script>
   <script src="{{ url_for('static', filename=' plugins/counterup/jquery.counterup.min.js')}}"></script>

   <!-- Google Map -->
   <script src="{{ url_for('static', filename=' plugins/google-map/map.js')}}"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
   
   <script src="{{ url_for('static', filename=' js/script.js')}}"></script>